<h1 style="text-align: center; font-size: 2em; margin-bottom: 20px;">Detalhes da loja</h1>

<div id="cnab_uploads" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">
  <div class="cnab-box" style="border: 1px solid #ddd; border-radius: 8px; padding: 20px; width: 300px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h3 style="text-align: center; font-size: 1.2em; margin-bottom: 10px;">Loja: <%= @store.name %></h3>
    <h3 style="text-align: center; font-size: 1.2em; margin-bottom: 10px;">Dono: <%= @store.owner %></h3>
  </div>
</div>

<!-- Tabela para Exibir as Entradas -->
<h2 style="text-align: center; margin-top: 30px;">Entradas do CNAB</h2>
<table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
  <thead>
    <tr>
      <th style="border: 1px solid #ddd; padding: 10px; text-align: center;">Tipo de Transação</th>
      <th style="border: 1px solid #ddd; padding: 10px; text-align: center;">Data</th>
      <th style="border: 1px solid #ddd; padding: 10px; text-align: center;">Valor</th>
      <th style="border: 1px solid #ddd; padding: 10px; text-align: center;">CPF</th>
      <th style="border: 1px solid #ddd; padding: 10px; text-align: center;">Cartão</th>
      <th style="border: 1px solid #ddd; padding: 10px; text-align: center;">Hora</th>
      <th style="border: 1px solid #ddd; padding: 10px; text-align: center;">Arquivo</th>
      <th style="border: 1px solid #ddd; padding: 10px; text-align: center;">Upload do arquivo</th>
    </tr>
  </thead>
  <tbody>
    <% @cnab_entries.each do |entry| %>
      <tr>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: center;">
          <%= entry.transaction_type_description ? entry.transaction_type_description : "" %>
        </td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: center;">
          <%= entry.date.present? ? entry.date.strftime("%d/%m/%Y") : "" %>
        </td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: center;">
          <%= entry.value.present? ? number_to_currency(entry.value, unit: "R$ ", separator: ",", delimiter: ".") : "Valor não disponível" %>        </td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: center;">
          <%= entry.cpf.present? ? entry.cpf : "" %>
        </td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: center;">
          <%= entry.card.present? ? entry.card : "" %>
        </td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: center;">
          <%= entry.time.present? ? entry.time.strftime("%H:%M:%S") : "" %>
        </td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: center;">
          <%= entry.cnab_upload.file_name.present? ? entry.cnab_upload.file_name : "" %>
        </td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: center;">
          <%= entry.cnab_upload.created_at.present? ? entry.cnab_upload.created_at.strftime("%d/%m/%Y %H:%M") : "" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="navigation-links">
  <%= link_to "Voltar para as lojas", stores_path %>
</div>
