<!DOCTYPE html>
<html>
  <head>
    <title>Challenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <!DOCTYPE html>


  <body>
    <% if user_signed_in? %> 
      <nav style="background-color: #2c3e50; padding: 10px; color: white; display: flex; justify-content: space-between; align-items: center;">
        <div>
          <%= link_to "Home", root_path, style: "color: white; text-decoration: none; font-weight: bold;" %>
          <%= link_to "Arquivos CNAB", cnab_uploads_path, style: "color: white; text-decoration: none; margin-left: 20px;" %>
          <%= link_to "Lojas", '/stores', style: "color: white; text-decoration: none; margin-left: 20px;" %>
        </div>
        <div>
          <%= button_to "Sair", destroy_user_session_path, method: :delete, data: { confirm: "Tem certeza de que deseja deslogar?" }, class: "btn btn-delete" %>
        </div>
      </nav>
    <% end %>

    <div class="container">
      <% if notice %>
        <p style="color: green; font-weight: bold; text-align: center;"><%= notice %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
